/* tag animations */

@keyframes tag1 {
    0% {
      transform: rotate(0deg);
      opacity: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      transform: rotate(45deg);
      opacity: 1;
    }
  }
  @keyframes tag2 {
    0% {
      transform: rotate(0deg);
  
      opacity: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg);
  
      opacity: 1;
    }
  }
  
  @keyframes tag1Reverse {
    0% {
      transform: rotate(45deg);
      opacity: 1;
    }
    99% {
      opacity: 1;
    }
    100% {
      transform: rotate(0deg);
      opacity: 0;
    }
  }
  
  @keyframes tag2Reverse {
    0% {
      transform: rotate(-45deg);
  
      opacity: 1;
    }
    99% {
      opacity: 1;
    }
    100% {
      transform: rotate(0deg);
      opacity: 0;
    }
  }
  @keyframes tagPress {
    0% {
      opacity: 1;
      transform: rotate(0deg);
    }
    60% {
      opacity: 0;
    }
  
    100% {
      opacity: 0;
      transform: rotate(-250deg);
    }
  }
  @keyframes tagBack {
    0% {
      opacity: 0;
      transform: rotate(-250deg);
    }
    60% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
      transform: rotate(0deg);
    }
  }
  
  @keyframes menuShow {
    0% {
      left: -30vw;
      opacity: 0;
    }
    100% {
      left: 0vw;
      opacity: 1;
    }
  }
  @keyframes menuHide {
    0% {
      left: 0vw;
      opacity: 1;
    }
    100% {
      left: -30vw;
      opacity: 0;
    }
  }
  
  @keyframes ulShow {
    0% {
      left: -30vw;
      opacity: 0;
    }
    100% {
      left: -4vw;
      opacity: 1;
    }
  }
  @keyframes ulHide {
    0% {
      left: -4vw;
      opacity: 1;
    }
    100% {
      left: -30vw;
      opacity: 0;
    }
  }
  
  /* page slide into view animations */
  
  @keyframes pageIn {
    0% {
      left: 100vw;
    }
    100% {
      left: 0vw;
    }
  }
  
  @keyframes pageOut {
    0% {
      left: 0vw;
    }
    100% {
      left: 100vw;
    }
  }
  
  @keyframes arrowInstruct {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes shine {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    20% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes saucer {
    0% {
      top: 0vh;
      left: 10vw;
      opacity: 0;
    }
    1% {
      opacity: 1;
    }
    5% {
      top: 35vh;
      left: 10vw;
      opacity: 1;
    }
    11% {
      opacity: 1;
    }
    12% {
      top: 36vh;
      left: 80vw;
      opacity: 0;
    }
    100% {
      top: 0vh;
      left: 10vw;
      opacity: 0;
    }
  }
  
  @keyframes novaDisplay {
    0% {
      opacity: 0.8;
      transform: rotate(0deg);
    }
    50% {
      opacity: 0.5;
      transform: rotate(20deg);
    }
    100% {
      opacity: 0.8;
      transform: rotate(0deg);
    }
  }

a{
color: white;  
}


/* page 4 below */

#mainContainer {
    position: absolute;
    top: 0vh;
    left: 0vw;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

#page4 {
    position: absolute;
    left: 0vw;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    z-index: 8;
  }
  
  #backdropPage4 {
    position: absolute;
    top: -25vh;
    left: 0vw;
    width: 120vw;
    height: 260vh;
  }
  
  #page4H1 {
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    color: rgb(255, 255, 255);
    font-family: "Bebas Neue", cursive;
    z-index: 5;
  }

  /* below are the tag styles */

  #tag {
    position: absolute;
    top: 9vh;
    left: 5vw;
    width: 6vw;
    z-index: 3;
    display: block;
    opacity: 0;
    animation: appear 2s linear forwards;
    animation-delay: 1s;
  }
  
  #tag:hover {
    cursor: pointer;
  }
  
  #tag1 {
    position: absolute;
    top: 13vh;
    left: 5vw;
    width: 6vw;
    z-index: 2;
    opacity: 0;
    display: block;
  }
  #tag2 {
    position: absolute;
    top: 13vh;
    left: 5vw;
    width: 6vw;
    z-index: 2;
    opacity: 0;
    display: block;
  }
  #menuDiv {
    position: fixed;
    top: 0vh;
    left: 0vw;
    height: 100vh;
    width: 30vw;
    background-color: rgb(63, 59, 59);
    opacity: 0;
    list-style: none;
    z-index: 10;
    color: white;
    display: none;
  }
  
  #menuUL li {
    text-decoration: none;
  }
  
  #menuPage1 {
    position: absolute;
    top: 30vh;
    list-style: none;
    font-family: "Bebas Neue", cursive;
    font-size: 4vw;
  }
  #menuPage1:hover {
    cursor: pointer;
  }
  #menuPage2 {
    position: absolute;
    top: 40vh;
    list-style: none;
    font-family: "Bebas Neue", cursive;
    font-size: 4vw;
  }
  #menuPage2:hover {
    cursor: pointer;
  }
  #menuPage3 {
    position: absolute;
    top: 50vh;
    list-style: none;
    font-family: "Bebas Neue", cursive;
    font-size: 4vw;
  }
  #menuPage3:hover {
    cursor: pointer;
  }
  #menuPage4 {
    position: absolute;
    top: 60vh;
    list-style: none;
    font-family: "Bebas Neue", cursive;
    font-size: 4vw;
  }
  #menuPage4:hover {
    cursor: pointer;
  }
  
 
  
 
 
  #formDiv {
    position: absolute;
    top: 25vh;
    left: 30vw;
    height: 60vh;
    width: 40vw;
    
  }
  
  #formPlanet {
    position: absolute;
    top: 10vh;
    left: 27vw;
    width: 45vw;
    height: 100vh;
    opacity: 1;
  }
  
  #name {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 5vh;
    width: 20vw;
    font-family: "Bebas Neue", cursive;
    font-size: 2vw;
    border-style: solid;
    border-color: gray;
    border-width: 5px;
    border-radius: 10px;
    opacity: 0.7;
    background-color: none;
  }
  #email {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 5vh;
    width: 20vw;
    font-family: "Bebas Neue", cursive;
    font-size: 2vw;
    border-style: solid;
    border-color: gray;
    border-width: 5px;
    border-radius: 10px;
    opacity: 0.7;
  }
  
  #info {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20vh;
    width: 20vw;
    font-family: "Bebas Neue", cursive;
    font-size: 2vw;
    border-style: solid;
    border-color: gray;
    border-width: 5px;
    border-radius: 10px;
    opacity: 0.7;
  }
  
  #submit {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 5vh;
    width: 10vw;
    font-size: 2vw;
    font-family: "Bebas Neue", cursive;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.5;
  }

  /* 
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  */

@media only screen and (max-device-width: 1050px) {


   /* page 4 below */

   #backdropPage4 {
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 120vw;
    height: 120vh;
  }

  #tag {
    position: absolute;
    top: 4vh;
    left: 8vw;
    width: 12vw;
    z-index: 3;
    display: block;
  }

  #tag:hover {
    cursor: pointer;
  }

  #tag1 {
    position: absolute;
    top: 6.2vh;
    left: 8vw;
    width: 12vw;
    z-index: 2;
    opacity: 0;
    display: block;
  }
  #tag2 {
    position: absolute;
    top: 6.2vh;
    left: 8vw;
    width: 12vw;
    z-index: 2;
    opacity: 0;
    display: block;
  }

 
  #page4H1 {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 8vw;
  }

  #formDiv {
    position: absolute;
    top: 25vh;
    left: 30vw;
    height: 60vh;
    width: 40vw;
  }

  #formPlanet {
    position: absolute;
    top: 15vh;
    left: 5vw;
    width: 90vw;
    height: 70vh;
    opacity: 1;
  }

  #name {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 5vh;
    width: 40vw;
    font-family: "Bebas Neue", cursive;
    font-size: 4vw;
    border-style: solid;
    border-color: gray;
    border-width: 5px;
    border-radius: 10px;
    opacity: 0.7;
    background-color: none;
  }
  #email {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 5vh;
    width: 40vw;
    font-family: "Bebas Neue", cursive;
    font-size: 4vw;
    border-style: solid;
    border-color: gray;
    border-width: 5px;
    border-radius: 10px;
    opacity: 0.7;
  }

  #info {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20vh;
    width: 40vw;
    font-family: "Bebas Neue", cursive;
    font-size: 4vw;
    border-style: solid;
    border-color: gray;
    border-width: 5px;
    border-radius: 10px;
    opacity: 0.7;
  }

  #submit {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 5vh;
    width: 20vw;
    font-size: 4vw;
    font-family: "Bebas Neue", cursive;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.5;
  }




}
/* 
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  /
  */
  @media only screen and (max-device-width: 450px) {

    /* page 4 below */

  #backdropPage4 {
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 180vw;
    height: 120vh;
  }

  #tag {
    position: absolute;
    top: 4vh;
    left: 10vw;
    width: 12vw;
    z-index: 3;
    display: block;
  }

  #tag:hover {
    cursor: pointer;
  }

  #tag1 {
    position: absolute;
    top: 6.2vh;
    left: 10vw;
    width: 12vw;
    z-index: 2;
    opacity: 0;
    display: block;
  }
  #tag2 {
    position: absolute;
    top: 6.2vh;
    left: 10vw;
    width: 12vw;
    z-index: 2;
    opacity: 0;
    display: block;
  }

 
  #page4H1 {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 8vw;
  }

  #formDiv {
    position: absolute;
    top: 25vh;
    left: 30vw;
    height: 60vh;
    width: 40vw;
  }

  #formPlanet {
    position: absolute;
    top: 20vh;
    left: 0vw;
    width: 100vw;
    height: 60vh;
    opacity: 1;
  }

  #name {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 3vh;
    width: 40vw;
    font-family: "Bebas Neue", cursive;
    font-size: 4vw;
    border-style: solid;
    border-color: gray;
    border-width: 5px;
    border-radius: 10px;
    opacity: 0.7;
    background-color: none;
  }
  #email {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 3vh;
    width: 40vw;
    font-family: "Bebas Neue", cursive;
    font-size: 4vw;
    border-style: solid;
    border-color: gray;
    border-width: 5px;
    border-radius: 10px;
    opacity: 0.7;
  }

  #info {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 15vh;
    width: 40vw;
    font-family: "Bebas Neue", cursive;
    font-size: 4vw;
    border-style: solid;
    border-color: gray;
    border-width: 5px;
    border-radius: 10px;
    opacity: 0.7;
  }

  #submit {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 3vh;
    width: 20vw;
    font-size: 4vw;
    font-family: "Bebas Neue", cursive;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.5;
  }




  }
  